<ion-content>
  <!---------Main Div Starts Here-->
  <div class="main">
    <!---------upperBox Div Starts Here-->
    <div class="upperBox">
      <div class="logo">
        <img src="../../../assets/logo.png" />
      </div>
      <div class="signInText">
        <h2>New Password</h2>
        <p>Create a new Password</p>
      </div>
    </div>
    <!---------upperBox Div Close Here-->
    <div class="lowerBox">
      <form #loginForm="ngForm">

        <div class="m-4 myForm">
          <label class="form-label "
                 [ngClass]="{ 'text-danger': password.touched && password.invalid , 'text-success': password.touched && password.valid }">New
            Password</label>
          <input type="text"
                 name="password"
                 #password="ngModel"
                 [(ngModel)]="login.password"
                 required
                 [ngClass]="{ 'is-invalid': password.touched && password.invalid , 'is-valid': password.touched && password.valid }"
                 class="form-control "
                 placeholder="********">
        </div>
        <div class="m-4 "
             *ngIf="password.invalid && password.touched ">
          <ion-text color="danger ">
            <h6 style=" margin-top: -5px;">Please Write a new Password</h6>
          </ion-text>
        </div>


        <div class="m-4 myForm">
          <label class="form-label "
                 [ngClass]="{ 'text-danger': cpassword.touched && cpassword.invalid , 'text-success': cpassword.touched && cpassword.valid }">New
            Password</label>
          <input type="text"
                 name="cpassword"
                 #cpassword="ngModel"
                 [(ngModel)]="login.cpassword"
                 required
                 [ngClass]="{ 'is-invalid': cpassword.touched && cpassword.invalid , 'is-valid': cpassword.touched && cpassword.valid }"
                 class="form-control "
                 placeholder="********">
        </div>
        <div class="m-4 "
             *ngIf="cpassword.invalid && cpassword.touched ">
          <ion-text color="danger ">
            <h6 style=" margin-top: -5px;">Please repete your new Password</h6>
          </ion-text>
        </div>
        <div class="bottomBtn">
          <div class="d-grid gap-2 m-4 ">
            <button class="btn btn-primary firstBtn"
                    type="button"
                    (click)="goToSignIn()"
                    [disabled]="loginForm.invalid">CONTINUE</button>
          </div>

          <div class="d-grid gap-2 m-4 ">
            <button class="btn btn-outline-primary secondBtn"
                    type="button"
                    (click)="resendPassword()"
                    [disabled]="loginForm.invalid">RESEND</button>
          </div>

        </div>

      </form>
    </div>
  </div>
  <!---------Main Div Close Here-->
</ion-content>