<ion-content>
  <!---------Main Div Starts Here-->
  <div class="main">
    <!---------upperBox Div Starts Here-->
    <div class="upperBox">
      <div class="logo">
        <img src="../../../assets/logo.png" />
      </div>
      <div class="signInText">
        <h2>Reset Password</h2>
        <p>Please Enter your Email Address. A Code will be sent to your Email .</p>
      </div>
    </div>
    <!---------upperBox Div Close Here-->
    <div class="lowerBox">
      <form #loginForm="ngForm">

        <div class="m-4 myForm">
          <label class="form-label "
                 [ngClass]="{ 'text-danger': email.touched && email.invalid , 'text-success': email.touched && email.valid }">Email
            address</label>
          <input type="email"
                 name="email"
                 #email="ngModel"
                 [(ngModel)]="login.email"
                 required
                 email
                 [ngClass]="{ 'is-invalid': email.touched && email.invalid , 'is-valid': email.touched && email.valid }"
                 class="form-control "
                 placeholder="santosh@jswebapp.com">
        </div>
        <div class="m-4 "
             *ngIf="email.invalid && email.touched ">
          <ion-text color="danger ">
            <h6 style=" margin-top: -5px;">Please Write Email Address</h6>
          </ion-text>
        </div>


        <div class="bottomBtn">
          <div class="d-grid gap-2 m-4 ">
            <button class="btn btn-primary"
                    type="button"
                    (click)="goToSignIn()"
                    [disabled]="loginForm.invalid">CONTINUE</button>
          </div>
          
        </div>
        

    

        

        

      </form>
    </div>
  </div>
  <!---------Main Div Close Here-->
</ion-content>